*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
/* @media(max-width: 500px){
    html{
        width: 50%;
    }
    body{
    background-color: #000;       
    }
    .nav-list ul li{
        display: block;      
    }
    
} */
nav{
    display: flex;
    justify-content: space-around;
}
nav img{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3 s ease-out;
}
nav img:hover{
    color: red;
    transform: scale(1.1);
}
.nav-list ul li{
    list-style: none;
    color: #fff;
    font-size: 20px;
    margin: 20px;
    display: inline-flex;
}
ul li:hover{
    color: red;
    cursor: pointer;
}
.hero{
    display: flex;
}
.image img{
    width: 500px;
    margin-left: 200px;
}
.text{
    width: 460px;
    height: 250px;
    margin-top: 170px;
}
span{
    color: orangered;
    font-weight: 900;
}
.text h1{
    color: #fff;
    font-size: 44px;
}
.text p{
    margin-top: 10px;
    color: #808080;
}
.btn{
    margin-top: 20px;
    width: 90px;
    height: 30px;
    background-color: red;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
}
.btn:hover{
    background: #fff;
    color: red;
    cursor: pointer;
}
#orange-box{
    color: #fff;
}
/* -------------------box------------ */
.bg-box{
    background: #333;
    width: 50%;
    height: 700px;
}
.exp-box{
    display: inline-block;
    margin-top: 430px;
    margin-left: 230px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.numm{
    font-size: 88px;
}
.num{
    font-size: 28px;
    font-weight: 900;

}
/* ---------------- */
.row{
    display: flex;
    margin: 0 220px;
}
.box{
    position: relative;
    margin: -600px 10px;
    display:inline-flexbox;
    width: 300px;
    height: 250px;
    background: hsl(0, 1%, 23%);
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.box-logo{
    width: 60px;
    /* margin-bottom: 10px; */
}
.box:hover{
    transform: scale(1.07);
    box-shadow: 5px 5px 20px 10px rgba(164, 163, 163, 0.2);
}
.active{
    background-color: red;
    pointer: cursor;
}
.box-active-logo{
    width: 40px;
}
.active:hover{
    background: #3b3a3a;
}
.box p{
    margin-bottom: 40px;
}
.row2{
    display: flex;
}
.boxx:hover{
    cursor: pointer;
    color: #fff;
    transform: scaley(1.2);
    box-shadow: 5px 5px 20px 10px rgba(164, 163, 163, 0.2);

}
span:hover{
    /* color: #fff; */
}
.rowww{
    margin-top: -300px;
    margin-left: 608px;
    text-align: center;
}
.rowwww{
    margin: 20px;
    margin-left: 608px;
    text-align: center;
}
.boxx{
    padding: 10px;
    width: 230px;
    margin: 10px;

    background-color: #3b3a3a;
}
/* --------projects---------- */
.projects{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
}
.proj h1{
    margin-bottom: 10px;
}
.proj-show{
    display: inline-flex;
    margin-left: 130px;
    margin-top: 40px;
}
.div{
    width: 400px;
    padding: 20px;
    background-color:#3b3a3a;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.div img{
    width: 300px;
    margin: 10px 0px;
}
.name{
    display: flex;
    justify-content: space-evenly;
    margin-left: -260px;
    margin-top: 20px;
    line-height: 13px;
}
.proj2{
    margin-top: 10px;
}
.div img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* -------------WORK---- */
.work{
    background-color: #3b3a3a;
    height: 200px;
    width: 910px;
    margin-left: 225px;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}
.work-text{
    width: 350px;
    margin-top: 30px;
}
.work-text p{
    margin-top: 10px;
    line-height: 20px;
}
.work button{
    margin-top: 70px;
    align-items: center;
    margin-left: 300px;
}
.bottom{
text-align: center;
}
.bottom ul li{
    list-style: none;
    display: inline-flex;
    margin: 20px;
    align-items: center;
}
.bottom-logo{
    display: flex;
    justify-content: space-around;
    /* height: 60px; */
    background: #3b3a3a;


}
.logo img{
    margin-top: 10px;
    margin-left: -60px;

}
.right{
    margin-top: 20px;
}
.right svg{
    margin: 10px 20px;
    transition: 0.5s ease-out;
    cursor: pointer;

}
.right svg:hover{
    transform: scale(1.3);
}
